body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  background-color: #efefef;
}

img {
  width: 2em;
}

.App {
  margin: auto;
  width: 50%;
  display: flexbox;
  justify-content: center;
  text-align: center;
}

input {
  text-align: center;
  background-color: white;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #ffc75f;
  padding: 0.5em 1.25em;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-top: 1em;
  cursor: pointer;
  border-radius: 0.5em;
  border: none;
}

.profile-button {
  text-align: right;
}

.output {
  margin-top: 1em;
}

.profileTranslationOutput {
  background-color: white !important;
}

.translations {
  background-color: white;
}

.translations p {
  overflow-wrap: break-word;
}

/* .translations img {
  padding-left: 1em;
} */
